/*The custom CSS for the app */

body {
    font-family: 'Special Elite', cursive;
    background-color: rgb(255, 215, 55);
    font-size: 1.5em;
}

span.clearfix {
    margin: 0;
    float: right;
}



button.float-right {

    margin: 5px;
}


.btn{
    color: black;
    background: none;
    border: 4px black solid;
    border-radius: 0;
}


.list-group-item {
    background: none;
    border: black 3px solid;
    border-left: black 11px solid;
    border-right: black 9px solid;
    font-size: 70%;


}

header {
    margin-top: 3%;
    padding-top: 3%;
}


    h1 {
        text-align: center;
        font-size: 150%;
        
    }

textarea {

    margin-right: 2%;
    margin: 3%;
    
}

.chirp {
    margin: 2%;
    padding: 2%;
 }

 #gopher {
     text-decoration: none;
     color: grey;
     font-size: 22px;
     
 }

.btn:hover, .btn:focus, .btn:active {
    background: none;
    background-color: rgb(240, 185, 0);	
}

.btn:active {
    color: white;
}

img {
    max-height: 100vh;
}


form {
    padding-right: 30%;
}

@media (min-width: 418px) {
    h1 {
        font-size: 2.5em;
    }
   
}

@media (min-width: 800px) {

    h1 {
        font-size: 3em;
    }
   

    
}

@media (max-width: 800px) {
    .list-group-item {
        text-align: center;
        
    }

    span {
        align-content: center;
    }
}


