body {
    font-family: 'Special Elite', cursive;
    background-color: rgb(255, 215, 55)
}

header {
    margin: 3%;
    padding: 3%;
}

h1 {
    font-size: 3em;
}

textarea {
    margin: 3%;
    padding: 3%;
}

.chirp {
    margin: 3%;
    padding: 3%;
 }

 #gopher {
     text-decoration-style: none;
 }